<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-app="myApp">
    <section>
      <div class="fcont">
        <div class="form-cont">
          <h4>Login to know.</h4>
          <p>more about you.</p>
          <a href="#">Read More</a>
        </div>
        <div class="form">
          <h1>Sign In</h1>
          <form ng-controller="LoginController" name="myForm" method="post" novalidate>
            <input type="text" class="validate" ng-model="username" name="username" required placeholder="username">
            <input type="password" class="validate" ng-model="password" name="password" required placeholder="Password">
            <input type="submit" name="signin" type="submit" ng-click="submit()" value="SignIn"  ng-disabled=" myForm.$invalid ">
          </form>
          <a href="#">Forget Password</a>
        </div>
      </div>
    </section>
  </body>
</html>
