<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-app="myApp">
    <section>
      <div class="fcont">
        <div class="form-cont">
          <h2>Sign Up to know.</h2>
          <p>more about you.</p>
          <a href="#">Read More</a>
        </div>
        <div class="form">
          <h1>Sign Up</h1>
          <form method="post" ng-controller="SignupController" name="myForm" novalidate>
            <input type="text" class="validate" name="username" placeholder="Username" ng-model="username" required>
            <input type="email" class="validate" name="email" placeholder="Email" ng-model="email" required>
            <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$error.required">Required</span>
            <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$error.email">Email is required.</span>
            <input type="password" class="validate" name="password" placeholder="Password" ng-model="password" required>
            <input type="submit" name="submit" value="SignUp" ng-click="submit()" ng-disabled=" myForm.$invalid ">
            <i class="material-icons right"></i>
          </form>
          <a href="#">Forget Password</a>
        </div>
      </div>
    </section>
  </body>
</html>
